# Project Build
node_modules
dist

# Snapcraft build
prime/
stage/
parts/
*.snap
overlay

# Logs e arquivos temporários
*.log

# Secrets
private.key
private.key.base64

# Build artifacts
build_deb/
*.deb
